/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    direction: rtl;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/*----------------------fonts------------------------*/

@font-face {
    font-family: sans-l;
    src: url(../../fonts/IRANSansWeb_Light.ttf) format("truetype"), url(../../fonts/IRANSansWeb_Light.woff) format("woff"), url(../../fonts/IRANSansWeb_Light.woff2) format("woff2"), url(../../fonts/IRANSansWeb_Light.eot) format("eot")
}

/*---------------------general setting--------------------*/

html{
    height: 100%;
}

body{
    font:300 15px/25px sans-l ;
    position: relative;
    height: 100%;
}

h1, h2 {
    text-align: center;
}

header {
    padding: 50px 0;
}

h2 {
    margin: 0 0 35px;
    font-size: 18px;
}

.relativePs{
    position: relative;
}

section{
    background-color: #e8e8e8;
    border-radius: 4px;
    padding: 15px 35px;
    box-shadow: 0 3px 5px 3px rgba(190, 164, 136, 0.64);
    -moz-box-shadow: 0 3px 5px 3px rgba(190, 164, 136, 0.64);
    -webkit-box-shadow: 0 3px 5px 3px rgba(190, 164, 136, 0.64);
    margin-bottom: 50px;
}

section h2{
    margin-top: 25px;
}

section .frm-row{
    text-align: left;
    margin: 15px 0;
    position: relative;
}

section .frm-row label{
    float: right;
}

section .frm-row label span{
    vertical-align: -5px;
}

form input[type= "text"] , form input[type="password"]{
    display: inline-block;
    width: 80%;
    direction: ltr;
    padding: 5px 15px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

form input[type= "submit"]{
    padding: 8px 40px;
    margin-top: 20px;
}

.text-center{
    text-align: center;
}

div#showPass{
    position: absolute;
    top: 5px;
    right: 8px;
}

div#showPass svg {
    width: 15px;
    height: 15px;
}

.row-frm{
    margin-bottom: 15px;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
    width: 100%;
    right: 0;

}

footer p{
    line-height: 30px;
    padding: 20px 0;
}

/*-------------login page----------------*/
.container-login{
    width: 500px;
    margin: 0 auto;
    padding: 150px 0;
}

section#login{
    background-color: #fff;
    padding: 0;
}

section#login .title{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    background-color: #eee;
}

section#login form{
    padding: 25px 0 0;
}

section#login form{
    text-align: center;
}

section#login form input{
    direction: rtl;
}

section#login form input[type="submit"]{
    margin: 0;
}

section#login form input[type="password"]{
    margin-top: 15px;
}

section#login form #showPass{
    right: auto;
    left: 15px;
}

section#login form .footer-login {
    padding: 12px 0;
    background-color: #eee;
    margin-top: 30px;
}

