@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?adq8i9');
  src:  url('../fonts/icomoon.eot?adq8i9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?adq8i9') format('truetype'),
    url('../fonts/icomoon.woff?adq8i9') format('woff'),
    url('../fonts/icomoon.svg?adq8i9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e90d";
}
.icon-groups:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-sort:before {
  content: "\e903";
}
.icon-attach:before {
  content: "\e904";
}
.icon-profile:before {
  content: "\e905";
}
.icon-exit:before {
  content: "\e906";
}
.icon-hart:before {
  content: "\e907";
}
.icon-delete:before {
  content: "\e90a";
}
.icon-fill-hart:before {
  content: "\e90b";
}
.icon-edit:before {
  content: "\e90c";
}
