/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 5px
}

body {
    line-height: 1;
    direction: rtl;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

#main {
    padding-top: 75px;
    padding-bottom: 75px;
}

body {
    direction: rtl;
    background: #FAFBFD;
    font-family: sans-l;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    color: #666;
}

@font-face {
    font-family: sans-l;
    src: url(../fonts/IRANSansWeb_Light.ttf) format("truetype"), url(../fonts/IRANSansWeb_Light.woff) format("woff"), url(../fonts/IRANSansWeb_Light.woff2) format("woff2"), url(../fonts/IRANSansWeb_Light.eot) format("eot")
}

.null:before {
    display: table;
    content: " ";
}

.null:after {
    content: " ";
    clear: both;
    display: table;
}

.box {
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    position: relative;
    margin-bottom: 15px;
    padding: 40px 10px 0;
}

.box-img {
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 150px;
    height: 150px;
}

aside .box-img {

}

.box-img img {
    position: relative;
    left: 0;
    width: 150px;
    height: 150px;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    color: #064778;
    font-weight: bold;
}

p {
    text-align: justify;
    line-height: 22px;
    font-weight: 300;
}

aside p {
    color: #9EA7B2;
    padding: 0 20px;
}

aside .details {
    margin-bottom: 15px;
}

aside .icons {
    text-align: center;

}

aside .icons * {
    color: #064d85;
}

span.icon-exit {
    color: #d20006;
}

aside .icons .red {
    color: #d20006;
}

aside .icons .icon.back-red:hover {
    background-color: #cf121c !important
}

aside .icons .icon {
    margin-bottom: 30px;
    padding: 15px 0;
    border-radius: 20px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

aside .icons .icon:hover {
    background-color: #064778;
}

aside .icons .icon:hover * {
    color: #fff;
}

aside .icons .icon p {
    text-align: center;
    margin-top: 7.5px;
}

aside .icons .icon span {
    font-size: 40px;
}

ul li {
    display: inline-block;
    list-style: none;
    color: #064d85;
}

#sort-box {
    color: #064778;
    font-weight: bold;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    padding: 15px 25px;
    margin-bottom: 30px;
}

#sort-box svg {
    height: 12px;
}

#sort-box .title span {
    vertical-align: 2px;
    margin-right: 18px;
    margin-left: 18px;
}

#sort-box .title {
    display: inline-block;
}

#sort-box ul.list-action {
    display: inline-block;
    vertical-align: 3px;
}

#sort-box ul.list-action li:not(:last-child) {
    margin-left: 38px;
}

#sort-box ul li a {
    color: #064778;
}

.sort-select {
    border: 0;
    cursor: pointer;
}

.sort-select:active, .sort-select:focus {
    outline: 0;
    border: 0;
}

#content .box {
    padding: 30px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.row-right {
    margin-right: -15px;
}

#content .box span {
    display: inline-block;
}

#content .box .desc {
    margin-bottom: 20px;
}

#content .box p {
    text-align: center;
    line-height: 24px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: #064778;
}

#content > .add p {
    color: #064778;
    font-weight: bold;
}

#content > .add .box:hover {
    background-color: #064d85;
}

#content > .add .box:hover p {
    color: #fff;
}

#content > .add .box:hover .icon-add {
    color: #fff;

}

#content .box-img {
    margin: 0;
}

#content .icon-add {
    color: #064778;
    font-size: 110px;
    margin-bottom: 15px;
}

a.delete-rows {
    color: #D20006;
}

a.edit {
    color: #064d85;
}

.icon-hart {
    vertical-align: middle;
    font-size: 20px;
    color: #064d85;
}

.action {
    font-size: 15px;
}

.action a {
    margin-left: 5px;
}

.action span {
    vertical-align: middle;
}

footer {
    text-align: center;
}

footer .logo img {
    width: 350px;
    height: 350px;
}

#groups.show-box {
    overflow-y: scroll;
    height: 600px;
    top: 70px;
    padding: 15px;
}

.container-groups {
    height: 100%;
}

.show-box {
    display: none;
    position: fixed;
    top: 50px;
    width: 80%;
    left: 10%;
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    z-index: 99999;
}

.show-box.add-style {
    width: 50%;
    margin: 0 auto;
    left: 25%;
}

input {
    margin-bottom: 15px;
}

.show-box .box {
    padding: 15px;
}

.show-box .box * {
    line-height: 28px;
}

.show-box p {
    text-align: center;
}

.title h2 {
    font-size: 22px;
    margin: 15px 0 30px;
}

.marginB15 {
    margin-bottom: 15px;
}

.input-file-trigger, .input-file-trigger2 {
    display: inline-block;
    padding: 11px 20px;
    color: rgba(6, 71, 120, 0.64);
    font-weight: bold;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    border: 2px solid rgba(6, 71, 120, 0.64);
}

.add-group .input-file, .add-group .input-file2 {
    display: none;
}

.fileSelect {
    font-size: 13px;
}

.row-frm {
    text-align: right;
}

.text-center .btn.btn-info {
    padding: 8px 60px;
}

#add-group {
    top: 25%;
}

#add-contact, #update-contact {
    top: 18%;
}

.icon-fill-hart{
    color: #D20006 !important;
    font-size: 20px;
    vertical-align: middle;
}

